<html>
<head class="center">
  <h1>Reddit Newsletter</h1>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <style type="text/css">
    .votes {
      background-color: #0D98BA;
      /* color: #4682B4; */
      border-radius: 25px;
    }
  </style>
</head>
<body>
  <div id="greeting">
    <script id="my-greeting" type="text/x-handlebars-template">
        <p>Hello {{name}},</p> <p>See yesterday's top voted posts from your favorite subreddits</p>
    </script>
  </div>
  <div id="digest">

</div>
</div>
  <script id="my-digest" type="text/x-handlebars-template">
      {{#each subreddits}}
      <span name="subreddit-header">
        <b>{{name}}:</b> <a href="https://www.reddit.com/r/{{name}}/top">https://www.reddit.com/r/{{name}}/top</a><br/>
        {{#each posts}}
          {{!-- Image --}}
          <img height="480" src="{{imageurl}}"/><br/>
          {{!-- Votes --}}
          <span class="votes" name="votes">{{ups}} up votes</span>
          {{!-- Title --}}
          <span name="title">{{title}}</span><br/>
        {{/each}}
      </span>
      {{/each}}
  </script>

  <script type="text/javascript">
      var myGreeting = document.getElementById("my-greeting").innerHTML;

      var greetingTemplate = Handlebars.compile(myGreeting);

      var greeting = greetingTemplate({name: "Blake"});

      document.getElementById("greeting").innerHTML += greeting;

      var myDigest = document.getElementById("my-digest").innerHTML;

      var digestTemplate = Handlebars.compile(myDigest);

      var digest = digestTemplate({
        subreddits: [
          {
            name: "funny",
            posts: [
                {
                  imageurl: "https://i.redd.it/2th9kwhykmx41.jpg",
                  ups: "45054",
                  title: "I found it guy! I found it!"
                }
            ]
          }
        ]});

      document.getElementById("greeting").innerHTML += digest;
  </script>
</body>
</html>
